doctype html
html(lang="en")
    head
        title= title
        script(type='text/javascript').
            alert('welcome again')
        style
            include body.css
    body
        h1=content
        p
        this is a paragraph